{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "main/style.css" %}">
    <title>Prototype</title>
</head>
<body>
<div class="board">
    <div class="infomain">
        <h3 class="hh">Hello</h3>
        <p>Это прототип команды SStudio для KruzhokPro. Чтобы сделать корректный запрос, Вы должны ввести свой TalentID, почту (почта, к которой привязан аккаунт talent), ввести свой epicid, и никнейм Overwatch в формате {nickname}-{tag}. В результате Вы должны увидеть свои данные (возможно придётся немного подождать, т.к запрос может обрабатываться до 5-9 секунд), если страничка с данными не открылась или открылась страничка ошибки, то следует попробовать заполнить форму ещё раз и проверить их на валидность. ВАЖНО! Аккаунт Overwatch должен быть открытым, иначе возникает ошибка при сборе статистики. То же самое касается и Fortnite. Если Вы не хотите открывать аккаунт, то просто не вводите данные по этой игре.</p>
    </div>
    <div class="gamesmain">
        <form method="post">
        {% csrf_token %}

        {{ form.talent }}<br>
        {{ form.mail }}<br>
        {{ form.epicid }}<br>
        {{ form.overwatchname }}<br>

        <button type="submit" class="addgames">Отправить</button>
        </form>
    </div>
</div>
<div class="footer"></div>
</body>
</html>