{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "main/style.css" %}">
    <title>Prototype</title>
</head>
<body>
<div class="board">
    <div class="infomain">
        <h3 class="hh">Hello</h3>
        <p style="font-size: 28px" align="center"> Ой! Что-то пошло не так. Пожалуйста, вернитесь на главную страницу и попробуйте ввести данные снова.</p>
    </div>
    <div class="gamesmain">
        <a href="../">Вернуться обратно</a>
    </div>
</div>
<div class="footer"></div>
</body>
</html>